span {
  font-size: 3rem !important;
}

.flex-item:nth-of-type(1) {
  flex-grow: 10;
}
.flex-item:nth-of-type(2) {
  flex-grow: 40;
}
.flex-item:nth-of-type(3) {
  flex-grow: 10;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
