<div class="bg-primary text-white m-1 text-center">Einkaufsliste</div>
<div class="d-flex einkaufsliste h-50" *ngFor="let item of items">
    <div class="flex-container bg-primary text-white m-3 text-center ">
        <div class="flex-item justifyFlex listButtons">
            <span class="material-icons">delete</span>
        </div>
        <div class="flex-item justifyFlex ">{{item}}</div>
        <div class="flex-item justifyFlex  listButtons">
            <span class="material-icons">done</span>
        </div>
    </div>
</div>
<div style="bottom: 0; position: absolute;width: 100%">
    <app-bottom-buttons></app-bottom-buttons>
</div>