<h1 class="bg-primary text-white m-0 p-3 text-center">Einkaufsliste</h1>
<div class="d-flex flex-column p-1" *ngFor="let item of items">
    <div class="d-flex text-white m-2 text-center ">
        <div
            class="d-flex sideButton justify-content-center align-items-center bg-white text-dark border border-secondary">
            <span class="material-icons p-1">delete</span>
        </div>
        <h1 class="d-flex flex-fill m-0 p-4 bg-primary justify-content-center align-items-center ">{{item}}</h1>
        <div
            class="d-flex sideButton justify-content-center align-items-center bg-white text-dark border border-secondary">
            <span class="material-icons p-1">done</span>
        </div>
    </div>
</div>

<div style="bottom: 0; position: absolute;width: 100%">
    <app-bottom-buttons></app-bottom-buttons>
</div>